@model IEnumerable<UserConciseViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Email</th>
            <th class="text-center">Is Admin</th>
            <th class="text-center">Is Moderator</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>