@model IEnumerable<CategoryConciseViewModel>
@{
    ViewData["Title"] = "All Categories";
}

<br />
<h2 class="text-center">All Categories</h2>
<br />
<a asp-area="Admin" asp-controller="Categories" asp-action="Create" class="btn btn-success">
    <i class="fa fa-plus"></i>
    Create new category
</a>
<br />
<br />
<table class="table container table-striped table-hover table-dark table-bordered">
    @Html.DisplayForModel()
</table>

