@model IEnumerable<HomeConciseViewModel>
@{
    ViewData["Title"] = "Moderator Index";
}

<br />
<h2 class="text-center">This is Our Products</h2>
<br />

<table class="table container table-striped table-dark">
    @Html.DisplayForModel()
</table>
