@model IEnumerable<HomeConciseViewModel>
@{
    ViewData["Title"] = "Начална страница";
}

<br />
<h2 class="text-center">Това са нашите Продукти</h2>
<br />

<table class="table container table-striped table-dark">
    @Html.DisplayForModel()
</table>
