@model CategoryDetailsViewModel

@{
    ViewData["Title"] = "Детайли за " + Model.Name;
}

<br />
<h2 class="text-center">@Model.Name</h2>
<br />

@if (!Model.Products.Any())
{
    <div>
        Все още няма продукти.
        <br />
    </div>
}
@if (Model.Products.Any())
{
    <br />
    <table class="table container table-striped table-dark">
        @Html.DisplayFor(m => m.Products)
    </table>
}
<br />
<br />
<a asp-area="" asp-controller="Categories" asp-action="Index"
   class="btn btn-warning text-right fa fa-arrow-left">
    Назад
</a>
