@model ProductRemoveViewModel
@{
    ViewData["Title"] = "Delete " + Model.ModelName;
}

<h2 class="text-center">Delete @Model.ModelName</h2>
<br />
<br />
<p><h2 class="text-center">Are You Sure?</h2></p>
<form asp-area="Moderator" asp-controller="Products" asp-action="RemoveProduct" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-5">
            <br />
            <br />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-area="Moderator" asp-controller="Categories" asp-action="Index" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>

