@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <br />
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <br />
    <p class="text-danger text-center">This account has been locked out, please try again later.</p>
</header>
