@model IEnumerable<CategoryConciseViewModel>
@{
    ViewData["Title"] = "All Categories";
}

<br />
<h2 class="text-center">All Categories</h2>
<br />
<table class="table container table-striped table-hover table-dark table-bordered">
    @Html.DisplayForModel()
</table>
