
@{
    ViewData["Title"] = "Sended Order";
}

<br />
<h2 class="text-center">Thank you for yor order.</h2>
<br />
<p class="text-center">We will send you an email with information about your order.</p>
<p class="text-center">Best regards from the team of <strong>Technoshop</strong></p>

