
@{
    ViewData["Title"] = "Sended Order";
}

<br />
<h2 class="text-center">Благодарим ви за направената поръчка</h2>
<br />
<p class="text-center">Очаквайте имейл със информация относно вашата поръчка.</p>
<p class="text-center">Най-добри пожелания от екипа на <strong>Technoshop</strong></p>

